.create-quiz-holder {
  height: 100%;
  width: 100%;
  display: flex;
}

.create-quiz {
  height: 200px;
  width: 400px;
  background-color: #35495E;
  border: 2px solid #b7c5d5;
  border-radius: 25px;
  text-align: center;
  color: white;
  margin: auto;
}

.quiz-section-content {
  height: 100%;
  width: 100%;
  max-height: 90vh;
  display: flex;
}

.quiz {
  height: 100%;
  width: 70%;
  background-color: #ebebeb;
  border-radius: 25px;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
}

.quiz::-webkit-scrollbar {
  width: 5px;
}

.quiz::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.quiz::-webkit-scrollbar-track {
  border-radius: 5px;
}

.quiz-holder {
  height: 100%;
  width: 90%;
  margin: auto;
}

.quiz-buttons {
  width: 150px;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 40px 40px 1fr;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.switch-quiz {
  height: 100%;
  margin-top: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.switch-quiz-button {
  height: 100px;
  width: 150px;
  background-color: white;
  border-radius: 25px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}