.blog-post-form {
  width: 95%;
  height: 90%;
  border: 1px solid black;
  padding: 20px;
  background-color: azure;
  position: relative;
  margin: auto;
  border-radius: 25px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.input-group {
  margin: 10px;
}

.input-group label {
  display: block;
}

.input-group input,
.input-group textarea {
  width: 100%;
}

.post-button {
  display: block;
  margin: auto;
}